In [2]:
import pandas as pd

In [3]:
file_path="/home/achintya-trn0175/Desktop/alertsystem/22June/22.csv"
df=pd.read_csv(file_path)

In [4]:
df.head()

                 timestamp  speed  alert band  dets  path
0  2024-06-24 13:55:41.286      0  false    O   0.0  none
1  2024-06-24 13:55:41.362      0  false    O   0.0  none
2  2024-06-24 13:55:41.447      0  false    O   0.0  none
3  2024-06-24 13:55:41.538      0  false    O   0.0  none
4  2024-06-24 13:55:41.634      0  false    O   0.0  none

In [5]:
# Replace NaN values with "none" in 'path' column
df['path'] = df['path'].fillna("none")

In [6]:
df['path'].value_counts()

path
none                   24599
20240624_135018.csv        2
20240624_135127.csv        2
20240624_134332.csv        2
20240624_142254.csv        2
                       ...
20240624_140048.csv        1
20240624_140049.csv        1
20240624_140050.csv        1
20240624_140051.csv        1
20240624_135745.csv        1
Name: count, Length: 167, dtype: int64

In [13]:
df['alert'] = df['alert'].replace({'true': True, 'false': False, 'False': False,'True': True,'fal': False})

/tmp/ipykernel_17641/2485395174.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['alert'] = df['alert'].replace({'true': True, 'false': False, 'False': False,'True': True,'fal': False})

In [16]:
# Save the modified DataFrame back to the original CSV file
df.to_csv('/home/achintya-trn0175/Desktop/alertsystem/22June/22.csv', index=False)

In [17]:
df['alert'].value_counts()

alert
False    24709
True        81
Name: count, dtype: int64

In [1]:
import pandas as pd

# Load the CSV file
file_path = '/home/achintya-trn0175/Desktop/alertsystem/alert_log.csv'
df = pd.read_csv(file_path)

# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Save the cleaned data back to the original CSV file
df_cleaned.to_csv(file_path, index=False)

print("Duplicates removed and file saved successfully.")

Duplicates removed and file saved successfully.

__Accuracy of Alertness__

In [3]:
# Load the CSV file
alert_log_file = '/home/achintya-trn0175/Desktop/alertsystem/alert_log.csv'
df = pd.read_csv(alert_log_file)
# Calculate the total number of alerts
total_alerts = len(df)
print(total_alerts)
# Calculate the number of correct alerts
correct_alerts = df['correct_alert'].sum()
print(correct_alerts)
# Calculate accuracy
accuracy = correct_alerts / total_alerts

# Print the result
print(f'Accuracy: {accuracy * 100:.2f}%')

79
59
Accuracy: 74.68%